<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add user</title>
</head>
<body>
    <h1>Create a user</h1>
    <form action="/users/new" method="POST">
        <div>
            <label for="first_name">First Name</label><br>
            <input type="text" placeholder="Enter a first name" name='first_name' id='first_name'>
        </div>

        <div>
            <label for="last_name">Last Name</label><br>
            <input type="text" placeholder="Enter a last name" name='last_name' id='last_name'>
        </div>

        <div>
            <label for="user_url">Image URL</label><br>
            <input type="text" placeholder="Provide an image of this user" name='user_url' id='user_url'>
        </div>

        <input type="submit" value="Add New">
    </form>
</body>
</html>