<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Detail</title>
</head>
<body>
    <div id="user_detail">
        <img src="{{user.image_url}}" alt="user_avatar">
        <h2>{{user.first_name}} {{user.last_name}}</h2>
        <div>
            <form action="/users/{{user.id}}/delete" method="POST">
                <button><a href="/users/{{user.id}}/edit">Edit</a></button>
                <input type="submit" value="Delete">
                <button><a href="/users">User List</a></button>
            </form>
        </div>
    </div>
</body>
</html>